<div class="col-md-2">
  <div class="list-group" id="side-nav-list">
    <a href="#" class="list-group-item active" id="side-header">Stock List</a>
    <!--<div class="list-group-item">-->
      <!--<span class="badge">3</span>Gained Stock-->
    <!--</div>-->
    <!--<div class="list-group-item">-->
      <!--<span class="badge">4</span>Loss Stock-->
    <!--</div>-->
    <!--<div class="list-group-item">-->
      <!--Sold Stock-->
    <!--</div>-->
  </div>
</div>
