<div class="col-md-2">
  <div class="list-group" id="side-nav-list">
    <a href="#" class="list-group-item active" id="side-header">All Asset List</a>
    <div class="list-group-item" id="side-nav-in-port">
      <span class="badge">0</span>In-port Asset
    </div>
    <div class="list-group-item" id="side-nav-gained">
      <span class="badge">0</span>Gained Asset
    </div>
    <div class="list-group-item" id="side-nav-loss">
      <span class="badge">0</span>Loss Asset
    </div>
    <div class="list-group-item" id="side-nav-sold">
      <span class="badge">0</span>Sold Asset
    </div>
    <div class="list-group-item" id="side-nav-stock">
      <span class="badge">0</span>Stock
    </div>
    <div class="list-group-item" id="side-nav-fund">
      <span class="badge">0</span>Fund
    </div>
    <div class="list-group-item" id="side-nav-cash">
      <span class="badge">0</span>Cash
    </div>
  </div>
</div>
