<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title" id="panel-stock-title">
      Summary
    </h3>
  </div>
  <!--<div class="panel-body" id="panel-stock-content">-->
    <!--Panel content-->
  <!--</div>-->
</div>
<table class="table" id="table-stock">
  <thead>
  <tr>
    <th>
      Date
    </th>
    <th>
      Action
    </th>
    <th>
      Volume
    </th>
    <th>
      Price/share
    </th>
    <th>
      Total amount
    </th>
    <th>
      Cost
    </th>
    <th>
      Total volume
    </th>
    <th>
      Average/share
    </th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
